.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.operation {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  width: 100%;

  button {
    margin: 12px;
  }
}

.list {
  width: 100%;
  height: 100%;
  position: relative;
}
